# Lightweight libraries for SERVING answers
streamlit==1.48.0
langchain==0.3.27
langchain-community==0.3.27
faiss-cpu==1.7.4

# The Lightweight Engine
onnxruntime==1.24.1
tokenizers==0.22.0
numpy==1.26.4

# API & Utilities
llama-index-llms-groq==0.4.1
python-dotenv==1.1.1

pydantic==2.11.7
pydantic-settings==2.10.1
































# # AI & RAG Core
# llama-index
# llama-index-llms-groq
# llama-index-vector-stores-faiss
# llama-index-embeddings-huggingface
# langchain
# langchain-community
# langchain-groq
# langchain-text-splitters
# sentence-transformers
# faiss-cpu
# torch
# torchvision

# # Data & PDF Processing
# pymupdf
# pdf2image
# opencv-python-headless  # Crucial for Azure
# pillow

# # UI & Server
# streamlit
# gunicorn
# python-dotenv

# # Utils
# tqdm
# ftfy
# regex
# pytest




